In [3]:
import portfolio

strAcct = "('CITIC','CMS','HUATAI','FUTU')"
date = '2020-01-01'

dfHold = portfolio.get_hold(date, strAcct)
dfHold

,SymbolCode,SymbolName,Sector,Cur,Qty,CostPrice,Price,DayRatio,MV,PL,Ratio,MV_CNY
0,002294.SZ,信立泰,医药,CNY,1000.00,22.457,18.560,-0.0107,18560.00,-3896.74,-0.1735,18560.000000
1,1346.HK,利華控股集團,新股,HKD,4000.00,0.859,0.460,0.0222,1840.00,-1594.26,-0.4642,1658.392000
2,200625.SZ,长安B,汽车,HKD,25200.00,4.582,4.440,-0.0133,111888.00,-3585.03,-0.0310,100844.654400
3,300059.SZ,东方财富,证券,CNY,3300.00,15.227,14.620,0.0000,48246.00,-2001.57,-0.0398,48246.000000
4,3681.HK,中國抗體-B,新股,HKD,300.00,7.677,3.850,0.0000,1155.00,-1147.97,-0.4985,1041.001500
5,510500.SS,500ETF,综合指数,CNY,5000.00,4.870,5.766,0.0096,28830.00,4480.00,0.1840,28830.000000
6,512880.SS,证券ETF,证券,CNY,58500.00,0.887,0.929,0.0011,54346.50,2477.51,0.0478,54346.500000
7,600030.SS,中信证券,证券,CNY,2500.00,21.013,22.540,-0.0040,56350.00,3818.31,0.0727,56350.000000
8,600177.SS,雅戈尔,多元企业,CNY,2800.00,5.781,6.870,0.0378,19236.00,3050.00,0.1884,19236.000000
9,601088.SS,中国神华,煤炭,CNY,2600.00,10.395,16.180,-0.0055,42068.00,15041.00,0.5565,42068.000000
10,601166.SS,兴业银行,银行,CNY,2800.00,15.202,17.610,-0.0028,49308.00,6742.40,0.1584,49308.000000
11,601916.SS,浙商银行,银行,CNY,1000.00,4.940,4.210,-0.0071,4210.00,-730.00,-0.1478,4210.000000
12,8036.HK,电子交易集团,科技,HKD,1504770.00,0.112,0.133,-0.0148,200134.41,31600.17,0.1875,180381.143733
13,CNY,人民币,现金,CNY,40150.93,1.000,1.000,0.0000,40150.93,0.00,0.0000,40150.930000
14,HKD,港币,现金,HKD,49651.74,1.000,1.000,0.0000,49651.74,0.00,0.0000,44751.113262

In [6]:
import sqlite3
import pandas as pd

db = sqlite3.connect('AMS.db')

query = "SELECT * FROM Order_Table WHERE Date >='{}' and Date <='{}'".format('2019-12-31', '2020-02-09')
df_trans = pd.read_sql(query, con = db)
df_trans

,ID,InputTime,AccountID,Date,Time,SymbolCode,SymbolName,OrderID,TradeID,OrderType,OpenClose,CurTrade,CurSettle,Price,Qty,Commission,TradeAmt,SettleAmt
0,253,2019-12-31 09:41:10,IB,2019-12-31,09:31:02,MHIF2001,小恒指2001,1,1,Buy,Open,HKD,HKD,28376.0,1.0,7.1,283760.0,-283767.1
1,254,2019-12-31 09:41:24,IB,2019-12-31,09:31:02,MHIF2001,小恒指2001,1,2,Buy,Open,HKD,HKD,28378.0,1.0,7.1,283780.0,-283787.1
2,255,2019-12-31 09:42:07,IB,2019-12-31,09:36:33,MHIF2001,小恒指2001,1,1,Sell,Close,HKD,HKD,28346.0,-1.0,7.1,283460.0,283452.9
3,256,2019-12-31 09:42:13,IB,2019-12-31,09:36:33,MHIF2001,小恒指2001,1,2,Sell,Close,HKD,HKD,28346.0,-1.0,7.1,283460.0,283452.9
4,257,2019-12-31 10:32:09,IB,2019-12-31,10:08:09,MHIF2001,小恒指2001,2,1,Sell,Open,HKD,HKD,28292.0,-1.0,7.1,282920.0,282912.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,409,2020-02-05 11:49:24,FUTU,2020-02-05,00:00:00,HKD,港币,0,0,Interest,,HKD,HKD,1.0,92.3,0.0,92.3,92.3
138,410,2020-02-06 11:51:46,IB,2020-02-06,11:15:35,MHIF2002,小恒指2002,1,1,Sell,Open,HKD,HKD,27191.0,-1.0,12.1,271910.0,271897.9
139,411,2020-02-06 11:51:50,IB,2020-02-06,11:15:35,MHIF2002,小恒指2002,1,2,Sell,Open,HKD,HKD,27191.0,-1.0,12.1,271910.0,271897.9
140,412,2020-02-06 11:52:20,IB,2020-02-06,11:49:22,MHIF2002,小恒指2002,1,1,Buy,Close,HKD,HKD,27230.0,1.0,12.1,272300.0,-272312.1
141,413,2020-02-06 11:52:24,IB,2020-02-06,11:49:22,MHIF2002,小恒指2002,1,2,Buy,Close,HKD,HKD,27230.0,1.0,12.1,272300.0,-272312.1

In [46]:
df_trans = df_trans[~df_trans['SymbolCode'].isin(['MHIF2001','MHIF2002','CNY','HKD','USD'])]
dfHold = dfHold[~dfHold['SymbolCode'].isin(['MHIF2001','MHIF2002','CNY','HKD','USD'])]
symbol_trans = df_trans['SymbolCode'].drop_duplicates()
symbol_hold = dfHold['SymbolCode'].drop_duplicates()
symbol = symbol_hold.append(symbol_trans)
symbol.drop_duplicates(inplace=True)
list(symbol)

['002294.SZ',
 '1346.HK',
 '200625.SZ',
 '300059.SZ',
 '3681.HK',
 '510500.SS',
 '512880.SS',
 '600030.SS',
 '600177.SS',
 '601088.SS',
 '601166.SS',
 '601916.SS',
 '8036.HK',
 '9922.HK',
 '1088.HK',
 '072455.SZ',
 '370059.SZ']

In [2]:
from alpha_vantage.timeseries import TimeSeries

ts = TimeSeries(key='PHOPU7GYO084YDMT', output_format='pandas', indexing_type='date')
data, meta_data = ts.get_daily('600030.ss')
data.reset_index(inplace=True)
data

         date  1. open  2. high  3. low  4. close    5. volume
0  2020-02-07    22.48    22.63   22.20     22.54  183639632.0
1  2020-02-06    22.10    22.79   21.82     22.63  247840165.0
2  2020-02-05    21.76    22.68   21.52     22.07  242765069.0
3  2020-02-04    20.80    21.94   20.80     21.73  348557168.0
4  2020-02-03    21.51    21.51   21.51     21.51   75337000.0
..        ...      ...      ...     ...       ...          ...
95 2019-09-10    24.40    24.44   23.74     24.20  167599227.0
96 2019-09-09    24.55    24.85   24.29     24.32  178036500.0
97 2019-09-06    24.31    24.39   23.88     24.15  155602106.0
98 2019-09-05    23.90    24.75   23.80     23.83  309144998.0
99 2019-09-04    22.80    23.44   22.73     23.33  160964746.0

[100 rows x 6 columns]

In [5]:
close1 = data.loc[:, ('date','4. close')]
close1

         date  4. close
0  2020-02-07     22.54
1  2020-02-06     22.63
2  2020-02-05     22.07
3  2020-02-04     21.73
4  2020-02-03     21.51
..        ...       ...
95 2019-09-10     24.20
96 2019-09-09     24.32
97 2019-09-06     24.15
98 2019-09-05     23.83
99 2019-09-04     23.33

[100 rows x 2 columns]

In [1]:
import cal_service as cal

close = cal.get_close_price('600030.SS')
close

         Date SymbolCode  Close
0  2020-02-07  600030.SS  22.54
1  2020-02-06  600030.SS  22.63
2  2020-02-05  600030.SS  22.07
3  2020-02-04  600030.SS  21.73
4  2020-02-03  600030.SS  21.51
..        ...        ...    ...
95 2019-09-10  600030.SS  24.20
96 2019-09-09  600030.SS  24.32
97 2019-09-06  600030.SS  24.15
98 2019-09-05  600030.SS  23.83
99 2019-09-04  600030.SS  23.33

[100 rows x 3 columns]

In [5]:
close_part = close.loc[close["Date"] >= "2020-01-03"]
close_part

         Date SymbolCode  Close
0  2020-02-07  600030.SS  22.54
1  2020-02-06  600030.SS  22.63
2  2020-02-05  600030.SS  22.07
3  2020-02-04  600030.SS  21.73
4  2020-02-03  600030.SS  21.51
5  2020-01-23  600030.SS  23.90
6  2020-01-22  600030.SS  25.20
7  2020-01-21  600030.SS  25.17
8  2020-01-20  600030.SS  25.76
9  2020-01-17  600030.SS  25.36
10 2020-01-16  600030.SS  25.11
11 2020-01-15  600030.SS  25.32
12 2020-01-14  600030.SS  25.56
13 2020-01-13  600030.SS  25.97
14 2020-01-10  600030.SS  25.55
15 2020-01-09  600030.SS  25.44
16 2020-01-08  600030.SS  24.94
17 2020-01-07  600030.SS  25.70
18 2020-01-06  600030.SS  25.32
19 2020-01-03  600030.SS  25.38